### Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.
#### Include the following:
- Total number of unique schools
- Total students
- Total budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [91]:
#dependencies
import pandas as pd
from pathlib import Path

In [92]:
# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [93]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

##### District Summary

In [94]:
# Calculate the total number of unique schools - used activities from Pandas lecture 04 - 06 
un_school_count = school_data_complete["school_name"].unique()
school_count = len(un_school_count)
school_count

15

In [95]:
# Calculate the total number of students
#student_count = school_data_complete["student_name"].value_counts()
student_count = len(school_data_complete)
student_count

39170

In [96]:
# Calculate the total budget #from schools_complete.cvs only/student info don't have those values
total_budget = school_data["budget"].sum()
total_budget

24649428

In [97]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [98]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [99]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [100]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [101]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [102]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({"Total School" : [school_count], "Total Students" : [student_count] , "Total Budget" : [total_budget], 
                                 "Average Math Score" : [average_math_score] , "Average Reading Score" : [average_reading_score],
                                  "% Passing Math" : [passing_math_percentage] , "% Passing Reading" : [passing_reading_percentage], 
                                  "% Overall Passing": [overall_passing_rate]})

# Formatting commas in numbers, and $ sign
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

##### School Summary

In [103]:
# Use the code provided to select all of the school types
un_school_type_count = school_data_complete["type"].unique()
un_school_type_count
# school_types = len(un_school_type_count)
# school_types

array(['District', 'Charter'], dtype=object)

In [104]:
un_school_names = school_data_complete["school_name"].unique()
un_school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [105]:
# Calculate the total school budget and per capita spending per school
# Group school by Name, set index
school_name = school_data_complete.set_index("school_name").groupby("school_name")

# school name by type
school_type = school_data.set_index("school_name")["type"] 
school_type.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [106]:
# Calculate the total school budget and per capita spending per school
#Find budget per school
school_budget = school_data.set_index("school_name")["budget"] 
school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [107]:
#Find total students per school
tot_students = school_name["Student ID"].count()
tot_students.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [108]:

# per_school_capita = school_budget.select_dtypes(exclude=object).div(tot_students.select_dtypes(exclude=object)) 
    #error with division- method tried
per_school_capita = school_budget / tot_students
per_school_capita.head()

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [109]:
# Calculate the average test scores per school
per_school_math = school_name["math_score"].mean()
per_school_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [110]:
# Calculate the average test scores per school
per_school_reading = school_name["reading_score"].mean()
per_school_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [111]:
# Total students passing math with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()
students_passing_math.head()

Student ID      29370
student_name    29370
gender          29370
grade           29370
school_name     29370
dtype: int64

In [112]:
# Calculate the number of students per school with math scores of 70 or higher
school_students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby(["school_name"])["math_score"].count()
school_students_passing_math.head()

school_name
Bailey High School      3318
Cabrera High School     1749
Figueroa High School    1946
Ford High School        1871
Griffin High School     1371
Name: math_score, dtype: int64

In [113]:
# Total students passing reading with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()
students_passing_reading.head()

Student ID      33610
student_name    33610
gender          33610
grade           33610
school_name     33610
dtype: int64

In [114]:
# Calculate the number of students per school with reading scores of 70 or higher
school_students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby(["school_name"])["reading_score"].count()
school_students_passing_reading.head()

school_name
Bailey High School      4077
Cabrera High School     1803
Figueroa High School    2381
Ford High School        2172
Griffin High School     1426
Name: reading_score, dtype: int64

In [115]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [116]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / tot_students * 100
per_school_passing_reading = school_students_passing_reading / tot_students * 100
overall_passing_rate = school_students_passing_math_and_reading / tot_students * 100

In [123]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_df = pd.DataFrame({"School name" : un_school_names, "School type" : school_type, "Total students" : tot_students, "Total School Budget" : school_budget, "Per Student Budget" : per_school_capita,
                                      "Average math score" : per_school_math, "Average reading score" : per_school_reading, "% passing math" : school_students_passing_math, "% passing reading" : school_students_passing_reading, 
                                     "% Overall passing" : school_students_passing_math_and_reading})


# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df = per_school_summary_df.reset_index(drop=True)
per_school_summary_df

,School name,School type,Total students,Total School Budget,Per Student Budget,Average math score,Average reading score,% passing math,% passing reading,% Overall passing
0,Huang High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,2719
1,Figueroa High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,1697
2,Shelton High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,1569
3,Hernandez High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,1487
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,1330
5,Wilson High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,2481
6,Cabrera High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,381
7,Bailey High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,1561
8,Holden High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,2549
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,871
10,Wright High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,2119
11,Rodriguez High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,1583
12,Johnson High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,1487
13,Ford High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,2068
14,Thomas High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,1626

#### Highest-Performing Schools (by % Overall Passing)